﻿@model BinaryTreeApplication.Models.Node

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @using (Html.BeginForm("BinaryTree", "Nodes", FormMethod.Post))
    {
        <div id="generic_price_table">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!--PRICE HEADING START-->
                            <div class="price-heading clearfix">
                                <h2>Árbol Binario</h2>
                            </div>
                            <!--//PRICE HEADING END-->
                        </div>
                    </div>
                </div>
                <div class="container" align="center">
                    <hr width="20%" />
                    <div class="head_bg"></div>
                    <div class="head">
                        <span>Creando el árbol</span>
                    </div>
                    <hr width="20%" />
                    <br />

                    <div class="head_bg"></div>
                    <div class="head">
                        <span>Ingrese un valor numérico:</span>
                    </div>
                    <br />
                    <div>
                        <input class="inputstyle" type="number" name="data" value="">
                    </div>
                    <br />
                    <div>
                        <div>
                            <input class="buttonstyle" type="submit" name="action" value="Insertar" />
                        </div>
                    </div>
                    <br />                    

                    <div class="head_bg"></div>
                    <div class="head">
                        <span>Se ha ingresado:</span>
                    </div>
                    <div>
                        <span>
                            <span>@ViewBag.Value</span>
                        </span>
                    </div>
                    <br />

                    <hr width="20%" />
                    <div class="head_bg"></div>
                    <div class="head">
                        <span>Buscando el ancestro</span>
                    </div>
                    <hr width="20%" />
                    <br />
                    <div class="head_bg"></div>
                    <div class="head">
                        <span>Ingrese los nodos:</span>
                    </div>
                    <br />
                    <div>
                        <input class="inputstyle" type="number" name="nodeSearch1" value="">
                    </div>
                    <br />
                    <div>
                        <input class="inputstyle" type="number" name="nodeSearch2" value="">
                    </div>
                    <br />
                    <div>
                        <div>
                            <input class="buttonstyle" type="submit" name="action" value="Buscar" />
                        </div>
                    </div>
                    <br />
                    <div class="head_bg"></div>
                    <div class="head">
                        <span>Ancestro encontrado:</span>
                    </div>
                    <div class="generic_price_tag clearfix">
                        <span class="price">
                            <span class="cent">@ViewBag.Parent</span>
                        </span>
                    </div>
                </div>
                
            </section> 
        </div>
        
    }
</body>
</html>
